body {
    background-color: #F2F2F2;
}

.login-form {
    margin-top: 80px;
}

.login-form form {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 40px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.login-form h2 {
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
}

.form-control {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #CCCCCC;
    font-size: 16px;
    font-weight: bold;
    color: #555555;
}

.form-control:focus {
    box-shadow: none;
    border-bottom: 2px solid #8E44AD;
}

.btn {
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 18px;
    font-weight: bold;
    background-color: blue;
    color: #FFFFFF;
}

.btn:hover {
    background-color: black;
    color: #FFFFFF;
}

.login-form p {
    text-align: center;
    margin-top: 15px;
}
.form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5em;
    margin-bottom: 0.125rem;
    padding-bottom: 14px;
}
button a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
button a:hover{
    color: white;
}